.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    //padding: 7rem 0rem 0rem 0rem;
    transition: margin-left $transitionDuration;
    background-image: url('blue-background.jpg'); /* Set the background image */
    background-size: cover; /* Ensures the image covers the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */

}

.layout-main {
    flex: 1 1 auto;
}
